* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    background-color: #f3c522;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

.navbar {
    background-color: #db1010;
}
.navbar-brand, .nav-link {
    color: white;
}

#carousel {
    margin-top: 80px; /* Ajusta según la altura del navbar */
}

.carousel-item img {
    height: 390px;
    object-fit: cover;
}

section#nueva-revista {
    background-color: #EBEBEB;
}

section#revista {
    background-color: #FFFFFF; /* Blanco */
    /* background-color: #EBEBEB; Gris */
}

#no-hidden-pdfs {
    display: flex;
    flex-wrap: wrap;
}

#hidden-pdfs {
    display: flex;
    flex-wrap: wrap;
}

#no-hidden-pdfs .col-md-2 {
    width: 16.66667%;  /* Mantén el mismo ancho de la columna como en las otras tarjetas */
    padding-left: 0.5rem;  /* Ajusta el espacio entre las tarjetas */
    padding-right: 0.5rem; /* Ajusta el espacio entre las tarjetas */
}

#hidden-pdfs .col-md-2 {
    width: 16.66667%;  /* Mantén el mismo ancho de la columna como en las otras tarjetas */
    padding-left: 0.5rem;  /* Ajusta el espacio entre las tarjetas */
    padding-right: 0.5rem; /* Ajusta el espacio entre las tarjetas */
}

section#podcast {
    /* background-color: #EBEBEB; Gris */
    background-color: #FFFFFF;
}

.btn-primary {
    background-color: #db1010;
    border-color: #db1010;
}
.btn-primary:hover {
    background-color: #600000;
}

footer {
    background-color: #db1010;
    color: white;
}

/* De md a lg (768px a 1199px), mostrar 3 tarjetas por fila */
@media (min-width: 768px) and (max-width: 1199px) {
    #no-hidden-pdfs .col-md-2,
    #hidden-pdfs .col-md-2 {
        width: 33.33333%;  /* 3 tarjetas por fila */
    }
}

/* En pantallas más pequeñas (md hacia abajo), cada tarjeta ocupará toda la fila */
@media (max-width: 767px) {
    #no-hidden-pdfs .col-md-2,
    #hidden-pdfs .col-md-2 {
        width: 100%;  /* Una tarjeta por fila */
        padding-left: 0.5rem;  /* Espaciado a la izquierda */
        padding-right: 0.5rem;  /* Espaciado a la derecha */
    }

    section#podcast {
        margin-top:73px;
    }
}
